<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      /* 텍스트 선택 효과 비활성화 */
      * {
        -webkit-user-select: none; /* Chrome, Safari, Opera */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* 표준 문법 */
      }
    </style>
  </head>
  <body>
    <div id="app" class="container mt-5">
      <h1>할 일 목록</h1>
      <div class="d-flex mt-3">
        <input type="text" style="width: 300px" class="form-control" placeholder="할 일을 여기에 입력!" v-model.trim="todo" @keyup.enter="addTodo" />
        <button class="btn btn-success ms-1" @click="addTodo">추가</button>
      </div>
      <div class="mt-2">
        <ul>
          <li v-for="todoItem in todoList" :key="todoItem.id" @click="toggleCompleted(todoItem.id)" draggable="false" class="mt-1">
            <span :class="{ 'todo-done': todoItem.completed }">
              {{ todoItem.todo }}
              <i v-if="todoItem.completed" class="mdi mdi-checkbox-blank-outline"></i>
              <i v-else class="mdi mdi-checkbox-marked"></i>
            </span>
            <span @click.stop="deleteTodo(todoItem.id)">
              <i class="mdi mdi-close-circle"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <script>
    const ts = new Date().getTime();
    const vueApp = Vue.createApp({
      name: 'App',
      data() {
        return {
          todo: '',
          todoList: [
            { id: ts, todo: '자전거 타기', completed: false },
            { id: ts + 1, todo: '딸과 공원 산책', completed: true },
          ],
        };
      },

      methods: {
        addTodo(todo) {
          if (this.todo !== '') {
            const list = {
              id: new Date().getTime(),
              todo: this.todo,
              completed: false,
            };
            this.todoList.push(list);
            console.log(list);
            this.todo = '';
          }
        },
        deleteTodo(id) {
          const index = this.todoList.findIndex((item) => id === item.id);
          console.log('delete index :', index);
          this.todoList.splice(index, 1);
        },
        toggleCompleted(id) {
          // 완료된 목록을 기존 todoList에서 찾아 인덱스 값을 받는다.
          const index = this.todoList.findIndex((item) => id === item.id);
          console.log('complete index :', index);
          // todoList에서 완료된 목록의 completed 값을 !으로 반전시켜준다. true -> false, false -> true
          this.todoList[index].completed = !this.todoList[index].completed;
        },
      },
    }).mount('#app');
  </script>
</html>
